@use '../abstracts' as *;

.header {
  & {
    position: absolute;
    width: 100%;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  }
  .container {
    display: flex;

    height: 90px;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 42px;
  }

  &__link {
    color: $white;
    @extend .links;
  }
}
