@use '../abstracts' as *;

.steps {
  margin-top: 80px;
  &__content {
    display: flex;
    justify-content: space-evenly;
  }

  &__step {
  }
}
.container {
}
.title {
  @extend .h2;
  text-align: center;
  margin-bottom: 40px;
  color: $second;
}
.step {
  &__icon {
    margin: 0 auto;
    background-color: $second;

    width: 100px;
    height: 100px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    margin-top: 30px;
  }
}
